// ========== paginator ========== //
.page-nav {
  padding: 2rem 0 0.5rem 0;
  display: flex;
  justify-content: center;
  & > * {
    font: 1.2rem $feature-font-family;
    color: $feature-color;
    vertical-align: middle;
    margin-right: 1rem;
    text-align: center;
  }
  a {
    position: relative;
    color: #9b9b9b;
    overflow: visible;
    &:hover {
      color: $feature-color;
    }
  }
}
