// ========== main ========== //
.index-post {
  position: relative;
  padding: 1rem 0rem 1rem 0rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.index-post-header {
  display: flex;
  justify-content: space-between;
}

// ========== abstract content ========== //
.index-post {
  .abstract-content {
    color: #4c4c4c;
    font-size: 1rem;
    line-height: 2rem;
    word-break: break-word;
    margin-top: 1.5rem;
    img {
      max-width: 100%;
      box-shadow: none;
    }
  }
}

// ========== abstract title ========== //
.abstract-title {
  font-size: 1.625rem;
  line-height: 2.3rem;
  color: $index-post-link-color;
  font-weight: 500;
  transition: color 0.1s ease-in;
  &:hover {
    color: $feature-color;
  }
}

.stick-top {
  font-size: 1.3rem;
  margin-right: 0.2rem;
}

// ========== abstract meta ========== //
.abstract-post-meta {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 0 0;
  font-family: $feature-font-family;
  color: #aaa;
  height: 1.5rem;
}

.abstract-date {
  margin-top: 0.56rem;
  font-size: 0.82rem;
  color: rgba(0,0,0,0.5);
}

// tags
.post-tag {
  font-size: 1rem;
  position: relative;
  color: $index-post-tag-color;
  margin-left: 0.4rem;
  &:hover {
    color: $feature-color;
  }
}

.abstract-calander {
  position: relative;
  top: -0.1rem;
  margin-right: 0.3rem;
  font-size: 1rem;
}
